* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: papayawhip;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.skip-link {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: blue;
    padding: 0.15rem 0.3rem;
    text-decoration: none;
    z-index: 1000;
    border: 1px solid dodgerblue;
    border-radius: 4px;
    font-size: 0.8rem;
    opacity: 0;
}

.skip-link:focus {
    top: -5px;
    opacity: 1;
    outline: 2px solid white;
    outline-offset: 2px;
}

.site-header {
    background-color: burlywood;
    padding: 0 0 0.5rem 0;
    position: relative;
    z-index: 100;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: none;
    margin: 0;
    gap: 1rem;
}

.header-top {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-link {
    display: block;
    width: 100px;
    flex-shrink: 0;
    min-width: 100px;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex-shrink: 0;
}

.site-title {
    font-size: 2rem;
    text-align: center;
    flex: 1;
    line-height: 1.2;
    margin-right: 100px;
    margin-bottom: 0;
}

.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 2rem;
    flex-direction: column;
    gap: 0.25rem;
    width: 100px;
    flex-shrink: 0;
    align-self: start;
}

.hamburger-icon {
    display: block;
    width: 30px;
    height: 3px;
    background-color: black;
    position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 0;
}

.hamburger-icon::before {
    top: -8px;
}

.hamburger-icon::after {
    top: 8px;
}

.main-nav {
    width: 100%;
    background-color: burlywood;
    padding: 0;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.nav-link {
    color: blue;
    text-decoration: underline;
    padding: 0.5rem 1rem;
    display: block;
    position: relative;
}

.nav-link:hover {
    background-color: dodgerblue;
    color: white;
}

.nav-link:active {
    background-color: blue;
    color: white;
    outline: none;
}

.nav-link:focus {
    background-color: dodgerblue;
    color: white;
    outline: 2px solid white;
    outline-offset: 2px;
    box-shadow: 0 0 0 4px dodgerblue;
    border-radius: 4px;
}

.nav-link:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none;
    border-radius: 0;
}

.main-content {
    max-width: 2100px;
    margin: 0 auto;
    padding: 0.5rem 0.25rem;
    flex: 1;
    width: 100%;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: black;
    line-height: 1.2;
    text-align: center;
}

.panels-container {
    display: grid;
    gap: 2rem;
    padding: 0 0.5rem;
}

.panel {
    background-color: #eee;
    padding: 2rem;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 2rem;
    align-items: start;
}

.panel-two {
    grid-template-columns: 200px 1fr;
}

.panel-image {
    width: 200px;
    height: 200px;
    display: block;
}

.panel-text p {
    margin-bottom: 1rem;
    line-height: 1.4;
}

.panel-text p:last-child {
    margin-bottom: 0;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem 0;
}

.cat-card {
    background-color: #eee;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    min-height: 450px;
}

.card-image {
    width: 180px;
    height: 180px;
    margin: 0 auto 0.5rem;
    display: block;
    order: 2;
}

.cat-card h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    order: 1;
}

.cat-card p {
    margin-bottom: 0.3rem;
    line-height: 1.2;
    font-size: 0.9rem;
    text-align: left;
    order: 3;
}

.cat-card p:last-of-type {
    margin-bottom: 0;
}

.subscribe-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    margin-top: auto;
}

.subscribe-button:hover {
    color: dodgerblue;
}

.subscribe-button:focus {
    outline: 2px solid dodgerblue;
    outline-offset: 2px;
}

.subscribe-modal {
    border: 2px solid black;
    padding: 0;
    max-width: 500px;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.subscribe-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    padding: 2rem;
    background-color: white;
}

.modal-content h2 {
    margin-bottom: 1.5rem;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-weight: bold;
    line-height: 1.4;
}

.required-indicator {
    color: black;
    font-weight: normal;
    font-style: italic;
}

.form-input {
    padding: 0.5rem;
    border: 1px solid black;
    font-size: 1rem;
    line-height: 1.4;
    border-radius: 4px;
}

.form-input:focus {
    outline: 2px solid dodgerblue;
    outline-offset: 0px;
}

.form-input.invalid {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    min-height: 1.2em;
    line-height: 1.4;
    font-style: italic;
}

.form-actions {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
}

.form-button {
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
    border-radius: 14px;
}

.submit-button {
    background-color: lime;
    color: black;
}

.submit-button:hover {
    background-color: #99ff99;
}

.cancel-button {
    background-color: lightcoral;
    color: black;
}

.cancel-button:hover {
    background-color: #ff9999;
}

.site-footer {
    background-color: burlywood;
    padding: 1rem;
    margin-top: 1rem;
}

.footer-nav {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.footer-link {
    color: blue;
    text-decoration: underline;
    padding: 0.25rem 0.5rem;
    display: inline-block;
}

.footer-link:focus {
    border: 2px solid dodgerblue;
    border-radius: 8px;
    outline: 2px solid white;
    outline-offset: 2px;
}

@media (max-width: 44rem) {
    .hamburger-button {
        display: flex;
        padding: 2rem;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 200;
    }

    .site-header {
        background-color: burlywood;
        padding: 0 0 0rem 0;
        position: relative;
        z-index: 100;
    }

    .header-container {
        gap: 0rem;
    }

    .main-content {
        padding: 0rem 0rem;
    }

    .header-top {
        height: fit-content;
        width: 100%;
    }

    .logo-link {
        width: 80px;
        min-width: 80px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }

    .site-title {
        flex: 1;
        font-size: 1.2rem;
        margin-right: 0;
        margin-top: 0px;
    }

    .main-nav {
        display: none;
        width: auto;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: burlywood;
        border-top: none;
        z-index: 150;
    }

    .main-nav.open {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        gap: 0;
        padding: 0;
        min-width: 200px;
        text-align: left;
    }

    .nav-link {
        padding: 1rem;
        border-top: 1px solid black;
        display: inline-block;
        text-align: left;
        width: auto;
    }

    .nav-link:first-child {
        border-top: none;
    }

    .panels-container {
        gap: 0;
        padding: 0rem 0rem;
    }

    .panel {
        padding: 1rem;
        display: block;
        border: 2px solid black;
        margin: 0;
        overflow: auto;
    }

    .panel + .panel {
        border-top: none;
    }

    .panel-one h2 {
        text-align: left;
    }

    .panel-one .panel-text {
        display: block;
    }

    .panel-one .panel-image {
        width: 125px;
        height: 125px;
        float: right;
        margin: 0 0 0.5rem 0.5rem;
    }

    .panel-two h2 {
        text-align: left;
    }

    .panel-two .panel-image {
        width: 125px;
        height: 125px;
        float: left;
        margin: 0 0.5rem 0.5rem 0;
    }

    .panel-two .panel-text {
        display: block;
    }

    .cards-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .cat-card {
        grid-column: span 1;
    }

    .cat-card h2 {
        text-align: left;
    }

    .card-image {
        margin: 0 0 0.5rem 0;
    }

    .footer-nav-list {
        flex-direction: column;
        gap: 0rem;
        align-items: left;
    }

    .footer-link {
        padding: 0rem 0rem;
    }
}

@media (min-width: 44.0625rem) {
    .site-header {
        position: relative;
    }

    .main-content {
        padding: 1rem 0rem;
    }

    .panel {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .panel-one {
        display: grid;
        grid-template-columns: 1fr 200px;
        gap: 2rem;
        align-items: start;
    }

    .panel-one .panel-text {
        grid-column: 1/8;
        grid-row: 1;
    }

    .panel-one .panel-image {
        grid-column: 8/13;
        grid-row: 1;
        width: 200px;
        height: 200px;
        margin: 0;
        float: none;
    }

    .panel-two {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 0.5rem;
    }

    .panel-two .panel-image {
        grid-column: 1 / 3;
        margin: 0;
        align-self: start;
    }

    .panel-two .panel-text {
        grid-column: 3 / 13;
    }
}
